
            <div class="container">
                <!-- Notification -->
                <div class="detail-notification">
                    <div class="main-posted__user">
                        <img src="{{{post.sender.avatarUrl}}}" alt="Img" class="main-posted__user--img">
                        <div class="main-posted__user-info">
                            <h6 class="main-posted__user--name">{{{post.sender.displayName}}}</h6>
                            <p class="main-posted__user--name-date">{{{post.createdAt}}}</p>
                        </div>
                    </div>
                    <h4 class="detail-notification--title">
                        {{{post.name}}}
                    </h4>
                    <!-- Nếu là sinh viên vào xem thì thêm class="sinhvien-xem" để bỏ đi -->
                    <p class="detail-notification--date">
                        {{{post.department.name}}}
                    </p>
                    <div class="detail-notification-body">
                        <p class="detail-notification-body--content">
                            {{{post.content}}}
                        </p>
                    </div>
                    <img src="/img/Toàn cảnh TDTU.png" alt="Picture" class="detail-notification-body--picture">
                </div>
                <!-- End notification -->
                <!-- Attached files -->
                <div class="attached-files">
                    <h5>File đính kèm</h5>
                    <div class="attached-files-list">
                        {{#each post.attachmentsArray}}
                        <a href="{{{this}}}" class="attached-files-content">
                            {{inc @index}}. {{getFileName this}}
                            <br>
                        </a>
                        {{/each}}
                    </div>
                </div>
                <!-- End attached files -->

                <!-- Comment -->
                <div class="detail-notification-comment">
                    <div class="comment">
                        <img src="https://afamilycdn.com/150157425591193600/2020/4/25/photo-1-1587804947662288123715-1587813338690-15878133394051371394553.jpg" alt="img" class="comment--img">
                        <textarea class="comment--write" placeholder="Viết bình luận" cols="90"></textarea>
                    </div>
                    <div class="comment-other">
                        <div class="comment-other__content">
                            <img src="https://photo-baomoi.zadn.vn/w700_r1/2019_11_25_329_33089213/4e07b5631420fd7ea431.jpg" alt="img" class="comment-other--img">
                            <div class="comment-other__box">
                                <h6 class="comment-other__box--username">Hoa Thành</h6>
                                <p class="comment-other__box--text">Hello
                                    Thái tử điện hạ.
                                    Vì người tử trận là vinh quang chí cao vô thượng của ta.
                                    Người ta thương vẫn còn trên đời này.
                                    Ta nguyện vĩnh viễn không siêu sinh.
                                    Ta sẽ trở lại. Điện hạ, chờ ta.
                                </p>
                            </div>
                        </div>
                        <div class="comment-other__reply-and-time">
                            <a href="#" class="comment-other__reply">Trả lời</a>
                            <span class="comment-other__reply-time">. 1 phút</span>
                        </div>
                    </div>
                    <a href="#" class="comment-readmore">Xem thêm bình luận</a>
                </div>
                <!-- End comment -->
            </div>
        </div>
    </div>
