
            <div class="row">

                <div class="col-lg-3">
                    <div class="profile-user">
                        <img src="{{{pageOwner.avatarUrl}}}" alt="img" class="profile-user__img">
                        <h6 class="profile-user__name">{{{pageOwner.displayName}}}</h6>
                        <div class="profile-user__title">
                            <h6>Giới thiệu</h6>
                            <div class="profile-user__edit">
                                <a href="#" class="profile-user__edit-link" onclick="editInfoUser()">
                                    <img src="/img/edit.png" alt="edit.png" class="profile-user__edit-img">
                                    Chỉnh sửa
                                </a>
                                <!-- Edit profile -->
                                <div class="edit-profile edit">
                                    <div class="edit-profile__header">
                                        <img src="/img/logo tdt.png" alt="logo" class="edit-profile__header--logo edit-logo">
                                        <h1 class="edit-profile__header--text">Chỉnh sửa thông tin cá nhân</h1>
                                        <img src="/img/close.png" alt="close.png" class="edit-profile__header--close">
                                    </div>
                                    <div class="edit-profile__body">
                                        <div class="edit-profile__body--edit">
                                            <label class="edit-profile__body--edit-name edit-title" for="name">Họ tên</label>
                                            <input class="edit-profile__body--edit-name-input" type="text" value="Vương Nhất Bác">
                                        </div>
                                        <div class="edit-profile__body--edit">
                                            <label class="edit-profile__body--edit-khoa edit-title" for="khoa">Khoa</label>
                                            <input class="edit-profile__body--edit-khoa-input" type="text" value="Công nghệ thông tin">
                                        </div>
                                        <div class="edit-profile__body--edit">
                                            <label class="edit-profile__body--edit-lop edit-title" for="lop">Lớp</label>
                                            <input class="edit-profile__body--edit-lop-input" type="text" value="18050402">
                                        </div>
                                        <div class="edit-profile__body--edit">
                                            <label class="edit-profile__body--edit-img edit-title" for="img">Ảnh đại diện</label>
                                            <div class="inputfile-box">
                                                <input type="file" id="fileImg" class="inputfile" onchange='uploadFileImg(this)'>
                                                <label for="fileImg">
                                                    <span id="file-img" class="edit-profile__body--edit-img-input"></span>
                                                    <span class="edit-profile__body--edit-img-btn">
                                                    <img src="/img/camera.png" alt="camera.png">
                                                    </span>
                                                </label>
                                                </div>
                                        </div>
                                        <div class="edit-profile__body--edit">
                                            <label class="edit-profile__body--edit-background edit-title" for="background">Hình nền</label>
                                            <div class="inputfile-box">
                                                <input type="file" id="imgBg" class="inputfile" onchange="uploadFileImgBackground(this)">
                                                <label for="imgBg">
                                                    <span class="edit-profile__body--edit-imgBackground-input"></span>
                                                    <span class="edit-profile__body--edit-imgBackground-btn">
                                                    <img src="/img/picture.png" alt="picture.png">
                                                    </span>
                                                </label>
                                                </div>
                                        </div>
                                        <div class="edit-profile__body--edit">
                                            <label class="edit-profile__body--edit-born-place edit-title" for="noisinh">Nơi sinh</label>
                                            <input class="edit-profile__body--edit-born-place-input" type="text" value="Thành phố hồ Chí Minh">
                                        </div>
                                        <div class="edit-profile__body--edit">
                                            <label class="edit-profile__body--edit-live-place edit-title" for="songtai">Sống tại</label>
                                            <input class="edit-profile__body--edit-live-place-input" type="text" value="Thành phố Hồ Chí Minh">
                                        </div>
                                    </div>
                                    <button class="edit-profile__btnSave" type="submit">Lưu</button>
                                </div>
                                <!-- End edit profile -->
                            </div>
                        </div>
                        <div class="profile-user__info">
                            <ul>
                                <li>
                                    <img src="/img/info.png" alt="info.png" class="profile-user__info-img">
                                    Khoa: Công nghệ thông tin
                                </li>
                                <li>
                                    <img src="/img/info.png" alt="info.png" class="profile-user__info-img">
                                    Ngành: Mạng máy tính và truyền thông dữ liệu
                                </li>
                                <li>
                                    <img src="/img/info.png" alt="info.png" class="profile-user__info-img">
                                    MSSV: 51800508
                                </li>
                                <li>
                                    <img src="/img/info.png" alt="info.png" class="profile-user__info-img">
                                    Lớp: 18050402
                                </li>
                                <li>
                                    <img src="/img/info.png" alt="info.png" class="profile-user__info-img">
                                    Sống tại Thành phố Hồ Chí Minh
                                </li>
                                <li>
                                    <img src="/img/info.png" alt="info.png" class="profile-user__info-img">
                                    Đến từ Thành phố Hồ Chí Minh
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9">
                    <div class="container">
                        <div class="main">
                            <!-- Up post -->
                            {{#ifEquals pageOwner.username user.username}} <!-- chỉ user mới được tải bài lên trang của mình -->
                            {{> add-post user=pageOwner}}
                            {{/ifEquals}}
                            
                
                            <div class="main-posted"> 
                                <div class="main-posted__user">
                                    <img src="{{{pageOwner.avatarUrl}}}" alt="Img" class="main-posted__user--img">
                                    <div class="main-posted__user-info">
                                        <h6 class="main-posted__user--name">{{{pageOwner.displayName}}}</h6>
                                        <p class="main-posted__user--name-date">8 tháng 2 năm 2021 lúc 18:00</p>
                                    </div>
                                    <div class="main-posted__user--edit-and-delete">
                                        <a href="#" class="main-posted__user--edit-link" onclick="editContentPosted()">
                                            <img src="/img/edit.png" alt="edit.png" class="main-posted__user--edit">
                                        </a>

                                        <!-- Edit content post -->
                                        <div class="edit-content edit">
                                            <div class="edit-content__header">
                                                <img src="/img/logo tdt.png" alt="logo" class="edit-content__header--logo edit-logo">
                                                <h1 class="edit-content__header--text">Chỉnh sửa nội dung bài đăng</h1>
                                                <img src="/img/close.png" alt="close.png" class="edit-content__header--close">
                                            </div>
                                            <div class="edit-content__body">
                                                <div class="edit-content__body--edit">
                                                    <label class="edit-content__body--edit-name edit-title" for="title">Tiêu đề</label>
                                                    <input class="edit-content__body--edit-name-input" type="text" value="Title">
                                                </div>
                                                <div class="edit-content__body--edit">
                                                    <label class="edit-content__body--edit-chuyenmuc edit-title" for="chuyenmuc">Chuyên mục</label>
                                                    <div>
                                                        <select class="edit-content__body--edit-chuyenmuc-selected" name="chuyenmuc">
                                                            <option value="Phong/Khoa">Chọn chuyên mục</option>
                                                            <option value="CTHSSV">Phòng Công tác học sinh sinh viên</option>
                                                            <option value="daihoc">Phòng Đại học</option>
                                                            <option value="saudaihoc" >Phòng Sau đại học</option>
                                                            <option value="dientoan">Phòng điện toán và máy tính</option>
                                                            <option value="khaothi">Phòng khảo thí và kiểm định chất lượng</option>
                                                            <option value="taichinh">Phòng tài chính</option>
                                                            <option value="CLC">TDT Creative Language Center</option>
                                                            <option value="tinhoc">Trung tâm tin học</option>
                                                            <option value="SDTC">Trung tâm đào tạo phát triển xã hội (SDTC)</option>
                                                            <option value="ATEM">Trung tâm phát triển khoa học quản lý và công nghệ ứng dụng (ATEM)</option>
                                                            <option value="doanhnghiep">Trung tâm hợp tác doanh nghiệp và cựu sinh viên</option>
                                                            <option value="khoaluat">Khoa Luật</option>
                                                            <option value="ngoaingu-tinhoc">Trung tâm Ngoại ngữ - Tin học - Bồi dưỡng văn hóa</option>
                                                            <option value="IBEP">Viện chính sách kinh tế và kinh doanh (IBEP)</option>
                                                            <option value="mythuatcongnghiep">Khoa Mỹ thuật công nghiệp</option>
                                                            <option value="dien-dientu">Khoa Điện - điện tử</option>
                                                            <option value="cntt">Khoa Công nghệ thông tin</option>
                                                            <option value="baoholaodong">Khoa Môi trường và bảo hộ lao động</option>
                                                            <option value="laodongcongdoan">Khoa Lao động công đoàn</option>
                                                            <option value="taichinhnganhang">Khoa Tài chính ngân hàng</option>
                                                            <option value="giaoducquocte">Khoa giáo dục quốc tế</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="edit-content__body--edit">
                                                    <label class="edit-content__body--edit-background edit-title" for="background">Ảnh</label>
                                                    <div class="inputfile-box">
                                                        <input type="file" id="imgPost" class="inputfile" onchange="uploadPostImg(this)">
                                                        <label for="imgPost">
                                                            <span id="file-imgBackground" class="edit-content__body--edit-imgBackground-input"></span>
                                                            <span class="edit-content__body--edit-imgBackground-btn">
                                                                <img src="/img/picture.png" alt="picture.png">
                                                            </span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="edit-content__body--edit">
                                                    <label class="edit-content__body--edit-file edit-title" for="file">File đính kèm</label>
                                                    <div class="inputfile-box">
                                                        <input type="file" id="filePost" class="inputfile" onchange="uploadPostFile(this)">
                                                        <label for="filePost">
                                                            <span class="edit-content__body--edit-file-input"></span>
                                                            <span class="edit-content__body--edit-file-btn">
                                                                <img src="/img/file.png" alt="file.png">
                                                            </span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="edit-content__body--edit">
                                                    <label class="edit-content__body--edit-content edit-title" for="noidung">Nội dung</label>
                                                    <textarea class="edit-content__body--edit-content-input" cols="80" rows="10">
                                                        Đây là nội dung
                                                    </textarea>
                                                </div>
                                            </div>
                                            <button class="edit-content__btnSave" type="submit">Lưu</button>
                                        </div>
                                        <!-- End content post -->

                                        <a href="#" class="main-posted__user--delete-link" >
                                            <img src="/img/trash.png" alt="trash.png" class="main-posted__user--delete">
                                        </a>
                                    </div>
                                </div>
                                <div class="main-posted__show">
                                    <img src="/img/tdtu-2.jpg" alt="Img" class="main-posted__show-img">
                                </div>
                                <div class="main-posted__content">
                                    <h5 class="main-posted__content-title">Tiêu đề</h5>
                                    <p class="main-posted__content-content">Nội dung bài viết</p>
                                </div>
                                <hr>
                                <div class="comment">
                                    <img src="{{{user.avatarUrl}}}" alt="img" class="comment--img">
                                    <textarea class="comment--write" placeholder="Viết bình luận" cols="90"></textarea>
                                </div>
                                <div class="comment-other">
                                    <div class="comment-other__content">
                                        <img src="https://photo-baomoi.zadn.vn/w700_r1/2019_11_25_329_33089213/4e07b5631420fd7ea431.jpg" alt="img" class="comment-other--img">
                                        <div class="comment-other__box">
                                            <h6 class="comment-other__box--username">Hoa Thành</h6>
                                            <p class="comment-other__box--text">Hello
                                                Thái tử điện hạ.
                                                Vì người tử trận là vinh quang chí cao vô thượng của ta.
                                                Người ta thương vẫn còn trên đời này.
                                                Ta nguyện vĩnh viễn không siêu sinh.
                                                Ta sẽ trở lại. Điện hạ, chờ ta.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="comment-other__reply-and-time">
                                        <a href="#" class="comment-other__reply">Trả lời</a>
                                        <span class="comment-other__reply-time">. 1 phút</span>
                                    </div>
                                </div>
                                <a href="#" class="comment-readmore">Xem thêm 10 bình luận</a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
