{{!-- input: users(mảng các user) --}}
{{!-- 
    users:[
        {
            staffInfo: { authorized: [] },
            studentInfo: { class: '18050202', faculty: 'Công nghệ thông tin' },
            avatarUrl: '/upload/51800001/TrThB_avatar.jpg',
            createdAt: '2021-02-18T17:42:45.674Z',
            userType: 'student',
            _id: '51800001',
            username: '51800001',
            password: 'B123456',
            displayName: 'Trần Thị B',
            lastEdited: '2021-02-18T17:42:45.674Z'
        },
        {
            staffInfo: ...,
            studentInfo: ...,
            avatarUrl: ...,
            createdAt: ...,
            userType: ...,
            _id: ....,
            username: ....,
            password: ...,
            displayName: ....,
            lastEdited: ....
        },
        ...
    ]
    
 --}}

<div class="admin-body">
    <h2 class="admin-body__title">Tài khoản Sinh viên</h2>
    <div class="admin-body__table">
        <h6>Thông tin tài khoản Sinh viên</h6>
        <div class="admin-body__table--show">
            <span>Show</span>
            <select id="show-posted">
                <option value="5">5</option>
                <option value="5">10</option>
                <option value="5">15</option>
                <option value="5">20</option>
            </select>
            <input type="text" placeholder="Tìm kiếm">
            <a class="admin-body__table-search--link" href="#">
                <img class="admin-body__table-search--loupe" src="/img/loupe.png" alt="loupe.png">
            </a>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">STT</th>
                <th scope="col">Tài khoản</th>
                <th scope="col">Họ tên</th>
                <th scope="col">MSSV</th>
                <th scope="col">Ngày cập nhật</th>
                <th scope="col">Sửa | Xóa</th>
            </tr>
            </thead>
            <tbody>
                {{#each users}}     <!-- Lấy dữ liệu đổ vào bảng tài khoản sinh viên -->
                <tr>
                    <th scope="row">{{inc @index}}</th>
                    <td class="user-name">
                        <img src="{{this.avatarUrl}}" alt="img" class="user-img">
                        <a href="/{{this._id}}">{{this.username}}</a>
                    </td>
                    <td class="user-content">{{this.displayName}}</td>
                    <td>{{this.username}}</td>
                    <td>
                        {{#if this.lastEdited}}
                        {{fromNow this.lastEdited}} (edited)
                        {{else}}
                        {{fromNow this.createdAt}}
                        {{/if}} 

                    </td>
                    <td>
                        <a href="#" class="trash-link" onclick="editInfoStudent()">
                            <img src="/img/edit.png" alt="edit.png" class="trash-img" >
                        </a>
                        |
                        <a href="#" class="trash-link">
                            <img src="/img/trash.png" alt="trash.png" class="trash-img" >
                        </a>
                    </td>
                </tr>
            {{/each}}
            </tbody>
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Tài khoản</th>
                    <th scope="col">Họ tên</th>
                    <th scope="col">MSSV</th>
                    <th scope="col">Ngày cập nhật</th>
                    <th scope="col">Sửa | Xóa</th>
                </tr>
                </thead>
        </table>
        <div class="table-pagination">
            <p>Showing 1 to 10 of 27</p>
            <nav>
                <ul class="pagination">
                    <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only"></span>
                    </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only"></span>
                    </a>
                    </li>
                </ul>
                </nav>
        </div>
    </div>
</div>

{{!-------------- popup --------------}}
{{> acc-student-edit}}
{{> confirm-delete item-name="user Nguyễn Văn A" item-id="xxx"}}