{{!-- input: posts(mảng các post) --}}

    <!-- Notification -->
<div class="notification-body">
    <!-- Filter notification -->
    <form class="notification-body__filter" method="get" action="/notifications">
        <div class="notification-body__filter--1">
            <input id="search" name="search" type="text" class="notification-body__filter--search" placeholder="Tìm kiếm thông báo" value="{{curQuery.search}}">
            <div class="notification-body__filter--chuyenmuc">
                <select name="dpment">
                    {{#select curQuery.dpment}}
                        <option value="common">Chọn Phòng/Khoa</option>
                        {{#each departments}}
                        <option value="{{this._id}}">{{this.name}}</option>
                        {{/each}}
                    {{/select}}                    
                </select>
            </div>
            
        </div>
        <div class="notification-body__filter--2">
            <div class="form-check notification-body__filter-check">
                <input name="hideSeen" id="checkRead" class="notification-body__filter-check-input" type="checkbox" 
                    {{#if curQuery.hideSeen}}
                        checked
                    {{/if}}
                >
                <label class="notification-body__filter-check-label" for="checkRead">
                    Chưa xem
                </label>
            </div>
            <div class="notification-body__filter-fromDate">
                <label class="notification-body__filter-fromDate-label" for="fromDate">
                    Từ ngày
                </label>
                <input class="notification-body__filter-fromDate-input" id="fromDate" type="date" name="from" value="{{curQuery.from}}">
            </div>
            <div class="notification-body__filter-toDate">
                <label class="notification-body__filter-toDate-label" for="toDate">
                    Đến ngày
                </label>
                <input class="notification-body__filter-toDate-input" id="toDate" type="date" name="to" value="{{curQuery.to}}">
            </div>
            <input type="button" class="notification-body__filter-delete" value="Xóa" onclick="resetSearchForm()"/>
            <input type="submit" class="notification-body__filter-search" value="Tìm kiếm" />
        </div>

    </form>
    <!-- End filter notification -->

    <!-- All notification -->
    <div class="notification-body__all">

        {{#each posts}}
        {{> post-notifi post=this}} 
        {{/each}}

        <div class="table-pagination">
            <nav id="pagination">
                <ul class="pagination">
                    {{#pagination current pages otherQuery}}
                    <li class="page-item">{{{this.aTagHTML}}}</li>
                    {{/pagination}}
                </ul>
            </nav>
        </div>
    </div>
    <!-- End all notification -->
</div>
<!-- End notification -->
    
