{{!-- input: user(người đang login) , post --}}
{{!-- 
    user:{
        username: 'NgVA256',
        displayName: 'Nguyễn Văn A',
        avatarUrl: '/img/no-face.png',
        userType: 'staff',
        staffInfo: { authorized: [ [Object], [Object] ] },
        studentInfo: {}
    },
    comment: {
        content: ...,
        createdAt: ...,
        lastEdited: ...,
        imageUrl: ...,  
        sender: ...,
    }
--}}
<script id="comment_template" type="text/x-handlebars-template">

    <div class="comment-other" id="\{{comment._id}}">
        <div class="comment-other__content">
            <img src="\{{{comment.sender.avatarUrl}}}" alt="img" class="comment-other--img">
            <div class="comment-other__box">
                <h6 class="comment-other__box--username">\{{{comment.sender.displayName}}}</h6>
                <p class="comment-other__box--text">
                    \{{{comment.content}}}
                </p>
            </div>
        </div>
        <div class="comment-other__reply-and-time">
            <a href="#" class="comment-other__reply">Trả lời</a>
            <span class="comment-other__reply-time">.
                \{{#if comment.lastEdited}}
                \{{fromNow comment.createdAt}} ( \{{fromNow comment.lastEdited}} edited)
                \{{else}}
                \{{fromNow comment.createdAt}}
                \{{/if}} 
            </span>
        </div>
        
        \{{#ifEquals comment.sender.id user.username}} <!-- chỉ user tạo ra post mới được sửa post đó (user dùng username cho id, nên có thể so sánh giữa id với username)-->
            <div class=".">
                <a href="#" data-item-id="\{{comment._id}}" onclick="editContentPosted(this)">
                    <img src="/img/edit.png" alt="edit.png">
                </a>
                <a href="#" data-item-name="bình luận này" data-item-id="\{{comment._id}}" data-item-type="comment" onclick="delConfirm(this)" >
                    <img src="/img/trash.png" alt="trash.png" >
                </a>
            </div>
        \{{/ifEquals}}  
        <hr>
    </div>
    

</script>