{{!-- input: user(người đang login) , post --}}
{{!-- 
    user:{
        username: 'NgVA256',
        displayName: 'Nguyễn Văn A',
        avatarUrl: '/img/no-face.png',
        userType: 'staff',
        staffInfo: { authorized: [ [Object], [Object] ] },
        studentInfo: {}
    },
    post:{
        createdAt: "2021-02-18T17:23:42.562Z",
        lastEdited: null,
        comments: [],
        sender: {
            id: "NgVA256",
            displayName: "Nguyễn Văn A",
            avatarUrl: "/img/no-face.png"
        },
        ...
    }

 --}}
 
<script id="post-fb_template" type="text/x-handlebars-template">

    <div class="main-posted" id="\{{post._id}}">
        {{!-------------- post-header --------------}}
        <div class="main-posted__user">
            <a href="/\{{post.sender.id}}" >
                <img src="\{{post.sender.avatarUrl}}" alt="Img" class="main-posted__user--img">
            </a>            
            <div class="main-posted__user-info">
                <h6 class="main-posted__user--name">\{{post.sender.displayName}}</h6>
                <p class="main-posted__user--name-date">
                    \{{#if post.lastEdited}}
                    \{{fromNow post.createdAt}} <br> (edited \{{fromNow post.lastEdited}})
                    \{{else}}
                    \{{fromNow post.createdAt}}
                    \{{/if}}            
                </p>
            </div>
            \{{#ifEquals post.sender.id user.username}} <!-- chỉ user tạo ra post mới được sửa post đó (user dùng username cho id, nên có thể so sánh giữa id với username)-->
                <div class="main-posted__user--edit-and-delete">
                    <a data-item-id="\{{post._id}}" onclick="editContentPosted(this)">
                        <img class="main-posted-edit" src="/img/edit.png" alt="edit.png">
                    </a>
                    <a data-item-name="\{{post.name}}" data-item-id="\{{post._id}}" data-item-type="post" onclick="delConfirm(this)" >
                        <img class="main-posted-delete" src="/img/trash.png" alt="trash.png" >
                    </a>
                </div>
            \{{/ifEquals}}  
        </div>

        {{!-------------- post-content --------------}}
        <div class="main-posted__content container">
            <h5><a href="/\{{post.sender.id}}/posts/\{{post._id}}" class="main-posted__content-title">\{{post.name}}</a></h5>
            
            <p class="detail-notification--dpment">
                \{{{post.department.name}}}
            </p>
            <div class="main-posted__content-content">\{{{cutDown post}}}</div>

            {{!-------------- image-section --------------}}
            \{{#each post.imagesArray}}
            <img src="\{{this}}" alt="Picture" class="detail-notification-body--picture">
            \{{/each}}

            {{!-------------- video-section --------------}}
            \{{#each post.videoIdArray}}
            <iframe class="embed-video" src="https://www.youtube.com/embed/\{{this}}" allowfullscreen></iframe>
            \{{/each}}

            {{!-------------- attachment-section --------------}}
            \{{#if post.attachmentsArray}}
                <hr>
                <h6>File đính kèm</h6>
                <div class="attached-files-list">
                    \{{#each post.attachmentsArray}}
                    <a href="\{{{this}}}" class="attached-files-content" download="\{{getFileName this}}">
                        \{{inc @index}}. \{{getFileName this}}
                        <br>
                    </a>
                    \{{/each}}
                </div>
            \{{/if}}
            
        </div>
    </div>

</script>
