{{!-- Thông báo mới: chưa đọc và post được createdAt sau user createdAt --}}
{{!-- mỗi lần tạo post. sẽ chỉ tạo notifi đối với những user tại thòi điểm đó . trừ người tạo ra post đó--}}

{{!-- input: unreadNotifis --}}

<div class="main-notification">
    <div class="main-notification__header">
        <h4 class="main-notification__header--title">Thông báo mới</h4>
        <div class="main-notification__header--see-all">
            <a href="/notifications" class="main-notification__header--see-all-link">
                Xem tất cả
            </a>
        </div>
    </div>
    {{#each unreadNotifis}}
        <div class="main-notification__body unread-notification">
            <div class="main-notification__body--name-and-time">
                <p class="main-notification__body--name">{{this.department}}</p>
                <span class="main-notification__body--time">{{fromNow this.postCreatedAt}}</span>
            </div>
            <a href="/{{this.senderId}}/posts/{{this.postId}}" class="main-notification__body--title-link">
                <h6 class="main-notification__body--title">
                    {{this.title}}
                </h6>
            </a>
        </div>
    {{else}}
    <div class="main-notification__body unread-notification">
        <p>Đã đọc hết thông báo mới</p>
    </div>
    
    {{/each}}

</div>