{{!-- input: postOwnerId (username của gười tạo ra post này) , post --}}
{{!-- 
    postOwnerId: 'NgVA256',
    post:{
        createdAt: "2021-02-18T17:23:42.562Z",
        lastEdited: null,
        comments: [],
        sender: {
            id: "NgVA256",
            displayName: "Nguyễn Văn A",
            avatarUrl: "/img/no-face.png"
        },
        ...
    }
--}}
 
<div class="main-posted__user">
    <img src="{{post.sender.avatarUrl}}" alt="Img" class="main-posted__user--img">
    <div class="main-posted__user-info">
        <h6 class="main-posted__user--name">{{post.sender.displayName}}</h6>
        <p class="main-posted__user--name-date">
            {{#if post.lastEdited}}
            {{fromNow post.createdAt}} ( {{fromNow post.lastEdited}} edited)
            {{else}}
            {{fromNow post.createdAt}}
            {{/if}}          
        </p>
    </div>
    {{#ifEquals post.sender.id postOwnerId}} <!-- chỉ user tạo ra post mới được sửa post đó (user dùng username cho id, nên có thể so sánh giữa id với username)-->
    <div class="main-posted__user--edit-and-delete">
        <a class="main-posted__user--edit-link" data-item-id="{{post._id}}" onclick="editContentPosted(this)">
            <img src="/img/edit.png" alt="edit.png" class="main-posted__user--edit">
        </a>
        <a class="main-posted__user--delete-link" data-item-name="{{post.name}}" data-item-id="{{post._id}}" data-item-type="post" onclick="delConfirm(this)" >
            <img src="/img/trash.png" alt="trash.png" class="main-posted__user--delete">
        </a>
    </div>
    {{/ifEquals}}  
</div>