{{!-- input: pageOwner, user(người đang login) --}}
{{!-- 
    pageOwner:{// người chủ của trang nhà
        username : ...,
        displayName :  ...,
        avatarUrl :  ...,
        userType: ...,
    },
    user:{
        username: 'NgVA256',
        displayName: 'Nguyễn Văn A',
        avatarUrl: '/img/no-face.png',
        userType: 'staff',
        staffInfo: { authorized: [ [Object], [Object] ] },
        studentInfo: {}
    },
 --}}

<div class="profile-user">
    <img src="{{{pageOwner.avatarUrl}}}" alt="img" class="profile-user__img">
    <h6 class="profile-user__name">{{{pageOwner.displayName}}}</h6>
    <div class="profile-user__title">
        <h6>Thông tin</h6>
        {{#ifEquals pageOwner.username user.username}} <!-- chỉ user là chủ của trang nhà mới sửa được profile của mình-->
        <div class="profile-user__edit">
            <a class="profile-user__edit-link pointer" onclick="editUserProfile(this)" data-item-id="{{pageOwner.username}}">
                <img src="/img/edit.png" alt="edit.png" class="profile-user__edit-img">
                Chỉnh sửa
            </a>
        </div>
        {{/ifEquals}}        
    </div>
    <div class="profile-user__info">
        <ul>
            {{#ifEquals pageOwner.userType 'staff'}}
                {{#each pageOwner.staffInfo.authorized}}
                    <li>
                        <img src="/img/info.png" alt="info.png" class="profile-user__info-img">
                        {{this.name}}
                    </li>
                {{/each}}
            {{else ifEquals pageOwner.userType 'student'}}
                <li>
                    <img src="/img/info.png" alt="info.png" class="profile-user__info-img">
                    Khoa: {{pageOwner.studentInfo.faculty}}
                </li>
                <li>
                    <img src="/img/info.png" alt="info.png" class="profile-user__info-img">
                    Ngành: {{pageOwner.studentInfo.speciality}}
                </li>
                <li>
                    <img src="/img/info.png" alt="info.png" class="profile-user__info-img">
                    MSSV: {{pageOwner.username}}
                </li>
                <li>
                    <img src="/img/info.png" alt="info.png" class="profile-user__info-img">
                    Lớp: {{pageOwner.studentInfo.class}}
                </li>
            {{/ifEquals}}
            
        </ul>
    </div>
</div>