<form id="edit-info-phongKhoa" action="/api/userstaff/:userId" method="post">
    <div class="myModal edit-info-phongKhoa">
        <div class="edit-info__header">
            <img src="/img/logo tdt.png" alt="logo" class="edit-info__header--logo edit-logo">
            <h1 class="edit-info__header--text">Chỉnh sửa thông tin</h1>
            <img src="/img/close.png" alt="close.png" class="edit-info__header--close" onclick="closeInfoPhongKhoa()">
        </div>
        <div class="edit-info__body">
            <div class="edit-info__body--edit">
                <label class="edit-title" for="edit-info__body--edit-account-input">Tên hiển thị</label>
                <input id="edit-info__body--edit-account-input" type="text" value="xxx" readonly>
            </div>
            <div class="edit-info__body--edit">
                <label class="edit-title" for="edit-info__body--edit-password-input">Mật khẩu</label>
                <input id="edit-info__body--edit-password-input" type="password" value="***" readonly>
            </div>
            <a class="btn-change-password" onclick="editInfoPhongKhoaPassword(this)" >Đổi mật khẩu</a>
            <div class="edit-info__body--edit">
                <label class="edit-title" for="chuyenmuc">Chuyên mục</label>
            </div>
            <div class="list-chuyenmuc">
                {{#each department}}
                <div class="row">
                    <div class="col-sm">
                        <div class="checkbox-chuyenmuc">
                            <input type="checkbox" name="chuyenmuc" id="{{this._id}}" value="{{this._id}}_{{this.name}}">
                            <label for="{{this._id}}">{{this.name}}</label>
                        </div>
                    </div>
                </div>
                {{/each}}

            </div>
        </div>
        <button class="edit-info__btnSave" type="submit">Lưu</button>
    </div>
</form>