{{!-- input: user(người đang login) , post --}}
{{!-- 
    user:{
        username: 'NgVA256',
        displayName: 'Nguyễn Văn A',
        avatarUrl: '/img/no-face.png',
        userType: 'staff',
        staffInfo: { authorized: [ [Object], [Object] ] },
        studentInfo: {}
    },
    post:{
        createdAt: "2021-02-18T17:23:42.562Z",
        lastEdited: null,
        comments: [],
        sender: {
            id: "NgVA256",
            displayName: "Nguyễn Văn A",
            avatarUrl: "/img/no-face.png"
        },
        commentsCount: 0,
        ...
    }

 --}}
<div id="edit-content" class="edit">
    <div class="myModal edit-content">
        <div class="edit-content__header">
            <img src="/img/logo tdt.png" alt="logo" class="edit-content__header--logo edit-logo">
            <h1 class="edit-content__header--text">Chỉnh sửa nội dung bài đăng</h1>
            <img src="/img/close.png" alt="close.png" class="edit-content__header--close pointer" onclick="closeEditContentPosted()">
        </div>
        <div class="edit-content__body">
            <div class="edit-content__body--edit">
                <label class="edit-content__body--edit-name edit-title" for="title">Tiêu đề</label>
                <input class="edit-content__body--edit-name-input" type="text" value="{{post.name}}">
            </div>
            <div class="edit-content__body--edit">
                {{#ifEquals user.userType "staff"}}
                    <label class="upload-post__body--create-chuyenmuc create-title" for="chuyenmuc">Chuyên mục</label>              
                    <select class="upload-post__body--create-chuyenmuc-selected" name="chuyenmuc">
                        {{#each user.staffInfo.authorized}}
                            <option id="{{this.id}}" value="{{this.id}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                {{/ifEquals}}
            </div>
            <div class="edit-content__body--edit">
                <label class="edit-content__body--edit-background edit-title" for="background">Ảnh</label>
                <div class="inputfile-box">
                    <input type="file" id="imgPost" class="inputfile" onchange="uploadPostImg(this)" value="chưa update được hình cũ">
                    <label for="imgPost">
                        <span id="file-imgBackground" class="edit-content__body--edit-imgBackground-input"></span>
                        <span class="edit-content__body--edit-imgBackground-btn">
                            <img src="/img/picture.png" alt="picture.png">
                        </span>
                    </label>
                </div>
            </div>
            <div class="edit-content__body--edit">
                <label class="edit-content__body--edit-file edit-title" for="file">File đính kèm</label>
                <div class="inputfile-box">
                    <input type="file" id="filePost" class="inputfile" onchange="uploadPostFile(this)" value="chưa update được file cũ">
                    <label for="filePost">
                        <span class="edit-content__body--edit-file-input"></span>
                        <span class="edit-content__body--edit-file-btn">
                            <img src="/img/file.png" alt="file.png">
                        </span>
                    </label>
                </div>
            </div>
            <div class="edit-content__body--edit">
                <label class="edit-content__body--edit-content edit-title" for="noidung">Nội dung</label>
                <textarea class="edit-content__body--edit-content-input" cols="80" rows="10">
                    {{post.content}}
                </textarea>
            </div>
        </div>
        <button id="edit-content__btnSave" type="submit">Lưu</button>
    </div>
</div>

