<div id="edit-profile" class="edit">
    <div class="myModal edit-profile">
        <div class="edit-profile__header">
            <img src="/img/logo tdt.png" alt="logo" class="edit-profile__header--logo edit-logo">
            <h1 class="edit-profile__header--text">Chỉnh sửa thông tin cá nhân</h1>
            <img src="/img/close.png" alt="close.png" class="edit-profile__header--close pointer" onclick="closeEditUserProfile()">
        </div>
        <div class="edit-profile__body">
            <div class="edit-profile__body--edit">
                <label class="edit-title" for="name">Họ tên</label>
                <input class="edit-profile__body--edit-name-input" type="text" value="{{userInfo.displayName}}">
            </div>
            <div class="edit-profile__body--edit">
                <label class="edit-title" for="lop">Lớp</label>
                <input class="edit-profile__body--edit-lop-input" type="text" value="{{userInfo.studentInfo.class}}">
            </div>
            <div class="edit-profile__body--edit">
                <label class="edit-title" for="khoa">Khoa</label>
                <input class="edit-profile__body--edit-khoa-input" type="text" value="{{userInfo.studentInfo.faculty}}">
            </div>
            <div class="edit-profile__body--edit">
                <label class="edit-title" for="lop">Ngành</label>
                <input class="edit-profile__body--edit-nganh-input" type="text" value="{{userInfo.studentInfo.Speciality}}">
            </div>
            <div class="edit-profile__body--edit">
                <label class="edit-title" for="userAvatar">Ảnh đại diện</label>
                <div class="edit-profile__body--edit-avatar-input d-flex justify-content-between mb-2">
                    <input class="p-2" type="file" id="userAvatar" onchange='uploadFileImg(this)' accept="image/*">
                    <span class="pointer p-2" onclick="resetAvatar(this)" style="color:white" >&times;</span>
                </div>
                
            </div>
            <img class="edit-profile__body--edit-avatar-preview mx-auto d-block" id="preview-image" data-old-src='{{userInfo.avatarUrl}}' src="{{userInfo.avatarUrl}}" alt="preview-image"/>            
            
            
        </div>
        <button class="edit-profile__btnSave" type="submit">Lưu</button>
    </div>
</div>

